.container {
    margin-top: 30px;
  }
  .product {
    margin-bottom: 20px;
    background-color: rgb(22, 24, 23);
    padding: 15px;
  }
  .cart-item {
    margin-bottom: 15px;
  }
  .btn-clear {
    margin-top: 10px;
  }

  .cart{
    background-color: rgb(22, 24, 23);
    padding: 15px;
    margin-top: 120px;
  }